<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>376117335187-0lq3un7v4mhgh6aef0uupjo69hh1dt7b.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.376117335187-0lq3un7v4mhgh6aef0uupjo69hh1dt7b</string>
    <key>API_KEY</key>
    <string>AIzaSyB2Lzj7rDdZlZBA7LInvmOkwlDy2ktT6qw</string>
    <key>GCM_SENDER_ID</key>
    <string>376117335187</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.zlataguseva.funny-puny</string>
    <key>PROJECT_ID</key>
    <string>funnypuny-ec7ea</string>
    <key>STORAGE_BUCKET</key>
    <string>funnypuny-ec7ea.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:376117335187:ios:caf7d41b15d2d89b126966</string>
</dict>
</plist>
